body{
    background-color: rgb(84, 84, 244);
}
section{
    background-color: white;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    width: 500px;
    margin: auto;
}
header{
    width: 500px;
    margin: auto;
    color: white;
    text-align: center;
    font-size: italic;
}