body{
    background: rgb(35, 35, 139);
    font: normal 18pt Arial;
}
header{
    text-align: center;
    color: white;
}
div{
    background: white;
    width: 700px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 2% 2% 2% 10% ;
    
}
input{
    font:normal 18pt Arial ;
    width: 150px;
    border-radius: 10px;
    border-color: black;
    text-align: center;
    
}
.result{
    background: white;
    width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    padding: 2% 2% 2% 3% ;
}
